main {
	margin: 0 auto;
	max-width: 100%;
	padding: 50px 30px;
}

:root {
	--primary: #f2e9e4;
	--secondary: #B89685;
	--tertiary: #493548;
	--quaternary: #625558;
	--darker: #a67164;
	--lighter: #CAB1A5;
	--spacing-one: calc(1rem * 0.5);
	--spacing-two: calc(1rem);
	--spacing-five: calc(2.5rem);
}

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-size: 18px;
	letter-spacing: .1em;
	background: var(--primary);
	color: var(--quaternary);
	font-family: 'Nova Square', cursive;
}

section {
	background-color: var(--primary);
}

.page-header {
	font-size: 2.8em;
	text-align: center;
}

.about {
	background-color: var(--primary);
	color: var(--quaternary);
}

h1 {
	font-size: 2.8rem;
	font-family: 'Nova Square', cursive;
	text-align: center;
	padding: 5px;
}

h2 {
	font-family: 'Cinzel', serif;
	margin: 5px 0;
	color: var(--tertiary);
}

header h2 {
	font-size: 5.8em;
}

p {
	font-size: 1.2em;
}

a:hover {
	text-decoration: underline;
}

header {
	background: var(--lighter);
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	text-align: center;
	height: 150px;
}

header a {
	color: var(--lighter);
}

button {
	background: var(--quaternary);
	border: 0;
	border-radius: .5rem;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 15px;
	font-size: 1rem;
}

button:hover {
	opacity: .8;
}

button[disabled] {
	cursor: pointer;
	opacity: .8;
}

.wrapper {
	padding-top: 50px;
	justify-content: space-around;
	height: 100%;
	display: flex;
	overflow: auto;
	flex-flow: row wrap;
	padding: 10px;
	align-content: flex-start;
}

.container {
	background-color: var(--primary);
}

.card {
	background-color: var(--primary);
	border-radius: 10px;
	height: 400px;
	margin: 2rem;
	position: relative;
	width: 400px;
	box-shadow: 0 2px 2px var(--quaternary), 0 6px 12px var(--quaternary);
}
  
.card .img-container {
	height: 75%;
	overflow: hidden;
	text-align: center;
	background-color: white;
}
  
.card .img-container img {
	width: 100%;
}
  
.card .content {
	font-size: 18px;
	background-color: white;
	font-weight: bold;
	text-align: center;
}
  
.card-title{
	margin-top: 10px;
	color: var(--quaternary);
	font-size: 2em;
}
  
.project-title {
	color: var(--quaternary);
	background-color: var(--primary);
}
  
.project-icon {
	padding: 5px;
}

.project-icon:hover {
	transform: scale(1.3);
}
  
.topics {
	font-size: small;
	font-style: italic;
}
  
.navActive {
	color: var(--secondary);
}

img {
	max-width: 100%;
}

span[role="img"] {
	cursor: default;
}

form {
	width: 40%;
	color: var(--quaternary);
	font-family: 'Nova Square', cursive;
}

input {
	font-size: 1rem;
	padding: 0.25rem;
	border: 1px solid var(--dark);
	outline: none;
	border-radius: 3px;
	transition: box-shadow 0.2s;
	width: 600px;
}

input:focus {
	border: 1px solid var(--secondary);
	box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

ol li {
	list-style: inside;
}

ul li {
	list-style: none;
}

nav a:hover {
	text-decoration: none;
}

nav li {
	cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
	width: 85%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.flex-row {
	display: flex;
	justify-content: space-evenly;
}

.space-between {
	justify-content: space-between;
}

.flex-end {
	justify-content: flex-end;
}

.mx-2 {
	margin-right: var(--spacing-two);
	margin-left: var(--spacing-two);
	font-size: 1.7em;
	text-decoration: underline;
	color: var(--quaternary);
	padding: 5px;
	font-weight: bold;
}

.navActive {
	color: var(--primary);
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.photo {
	width: auto;
	height: auto;
	max-width: 480px;
	max-height: 640px;
	/* padding: 50px; */
	margin-bottom: 50px;
}

.image {
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
	padding: 50px;
}

.logo {
	width: 50px;
	height: 50px;
	margin-bottom: 50px;
	cursor: pointer;
}

.logo:hover {
	transform: scale(1.3);
}

#contact-form {
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: flex;
	justify-content: center;
}

.page-header {
	font-family: 'Nova Round', cursive;
	font-size: 2.8em;
	font-weight: 500;
	margin: 5px 0;
	line-height: 1.25;
	padding-bottom: 2rem;
}

.bottom-spacing {
	margin-bottom: var(--spacing-five);
}

.padding {
	padding: 50px;
}

/* Viewports Styling start*/
@media screen and (max-width: 980px) {}

@media screen and (max-width: 817px) {
	header div {
		position: relative;
		width: 110%;
	}

	header div h2 {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	h2 {
		font-size: 1.5rem;
	}

	nav ul li span {
		font-size: 0.75em;
	}

	.mobile-header {
		width: 110%;
	}

	.mobile-row {
		display: block;
		margin: 0 100px 0 auto;
	}

	.mobile-view {
		display: inline;
		text-align: end;
	}

	.photo {
		width: auto;
		height: auto;
		max-width: 500px;
		max-height: 300px;
		padding: 50px;
	}

	input {
		width: 350px;
	}

	textarea {
		width: 350px;
		height: 120px;
		border: 3px solid #cccccc;
		padding: 5px;
	}

	ol {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {
	header div h2 {
		font-size: 2.2em;
	}
}

/* Viewports Styling end*/